.nav-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #045656;
}

.hover-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.hover-outline:hover {
    background-color: #045656;
    color: #fff !important;
}

.hover-contained:hover {
    opacity: 0.9;
}
