.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7f9;
    padding: 0; /* Remove padding if any */
    margin: 0; /* Remove margin if any */
}


.form-container {
    padding: 0; /* Remove padding if any */
    margin: 0; /* Remove margin if any */
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.form-title {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
    display: block;
}

.select-dropdown {
    font-size: 14px;
}

.date-picker {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.submit-btn {
    width: 100%;
    background-color: #0062cc;
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0052aa;
}

.error-message {
    color: red;
    text-align: center;
    font-size: 14px;
}

.success-message {
    color: green;
    text-align: center;
    font-size: 14px;
}
