.shift-scheduler-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #f7f7f7;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.mini-calendar {
    margin-bottom: 30px;
}

.employee-list h4 {
    margin-bottom: 10px;
}

.employee-list ul {
    list-style: none;
    padding: 0;
}

.employee-list li {
    margin-bottom: 10px;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #004c8c;
    color: white;
}

.header h2 {
    margin: 0;
}

.header nav button {
    background: none;
    border: none;
    color: white;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
}

.calendar-container {
    flex-grow: 1;
    padding: 20px;
}

.floating-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.floating-button button {
    background-color: #0062cc;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
}
.mini-calendar-style {
    margin: 10px;
    border: 1px solid #ccc; /* Add a border */
    border-radius: 4px; /* Rounded corners */
    padding: 10px; /* Padding around the calendar */
    background-color: #f9f9f9; /* Background color */
}
